/* RESET */
:root{
    --primary-color: #1f2020; /* cor principal (menu, fundo escuro) */
    --secondary-color: #facc15; /* cor destaque (amarelo) */
    --container-color: #1f1e1e; /* cor de containers */
    --text-color: #e9e9e9; /* cor padrão dos textos */
}

*{
   font-family: roboto, open-sans, sans-serif, Arial, Helvetica, sans-serif; /* fontes do site */
    margin: 0; /* remove margens padrão */
    padding: 0; /* remove espaçamentos padrão */
    box-sizing: border-box; /* facilita controle de tamanho */
    text-decoration: none;
}



/* BODY */

body{
    background:#050505;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

/* HEADER */

.header{
    width:100%;

    display:flex;

    justify-content:space-between;
    align-items:center;

    padding:20px 70px;

    background:black;

    position:fixed;

    top:0;

    z-index:999;
}

.logo{
    width:150px;
}

/* MENU */

.menu{
    display:flex;
    gap:35px;
}

.menu a{
    color:white;
    text-decoration:none;
    font-size:15px;
}


/* BOTÃO */

.menu-btn a{
    text-decoration: none; /* remove sublinhado */
    color:#0c0c0c /* cor do texto do botão */
}

.menu-btn{
    background-color: var(--secondary-color); /* fundo amarelo */
    padding: 10px 15px; /* espaço interno */
    border-radius: 8px; /* borda arredondada */
    border-style: none; /* remove borda padrão */
    font-weight: bold; /* negrito */
    font-size: 13px;
}

.menu-btn:hover{
   
    transition: 0.1s; /* animação rápida */
    cursor: pointer;
}

/* HERO */

.hero{
    height:100vh;

    background-size:cover;
    background-position:center;

    position:relative;

    display:flex;
    align-items:center;

    padding-left:80px;
}

/* OVERLAY ESCURO */

.overlay{
    width:100%;
    height:100%;

    background:rgba(0,0,0,0.6);

    position:absolute;
}

/* CONTEÚDO */

.hero-content{
    position:relative;

    z-index:2;

    max-width:600px;
}

.hero-content h3{
    font-size:35px;
}

.hero-content h1{
    font-size:100px;

    color:#f1b400;
}

.linha{
    width:80px;
    height:4px;

    background:#f1b400;

    margin:20px 0;
}

.subtitulo{
    font-size:28px;

    margin-bottom:20px;
}

.texto{
    line-height:35px;

    margin-bottom:35px;

    font-size:20px;
}




/* SOBRE */

.sobre{
    display:flex;

    justify-content:space-between;
    align-items:center;

    padding:120px 80px;

    gap:60px;
}

.sobre-texto{
    width:50%;
}

.sobre-texto h3{
    color:#f1b400;

    margin-bottom:20px;
}

.sobre-texto h2{
    font-size:55px;

    margin-bottom:30px;
}

.sobre-texto p{
    line-height:35px;

    font-size:20px;
}

.sobre-img img{
    width:500px;

    border-radius:20px;
}

/* FUNÇÕES */

.funcoes{
    padding:80px;
}

.funcoes h2{
    color:#f1b400;

    margin-bottom:40px;
}

.cards{
    display:flex;

    gap:25px;

    flex-wrap:wrap;
}

.card{
    background:#111;

    width:250px;

    padding:30px;

    border-radius:20px;

    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    color:#f1b400;

    margin-bottom:15px;
}

/* HORÁRIOS */

.horarios{
    padding:80px;
}

.horarios h2{
    color:#f1b400;

    margin-bottom:30px;
}

.horario-box{
    display:flex;

    gap:30px;
}

.item{
    background:#111;

    padding:30px;

    width:300px;

    border-radius:20px;
}


/* FOOTER */

.footer{
    background:black;

    text-align:center;

    padding:30px;

    margin-top:50px;
}